body {
  padding: 10px;
  font-family: courier;
  background-color: lightyellow;
}

.label{
	display: block;
}

#info-frame{
	background-color: lightgreen;
	display: inline-block;

}

.button{
	background-color: lightyellow;
}

#header2{
	padding-left: 40px; 
	padding-right: 40px;
}

/*
.color_red{
	background-color: rgb(255, 0, 0);
}

.color_orange{
	background-color: rgb(255, 127, 0);
}

.color_yellow{
	background-color: rgb(255, 255, 0);
}

.color_green{
	background-color: rgb(0, 255, 0);
}

.color_blue{
	background-color: rgb(0, 0, 255);
}

.color_violet{
	background-color: rgb(139, 0, 255);
}*/