body {
  padding: 10px;
  font-family: courier;
  background-color: lightyellow;
}

.label{
	display: block;
}

.button{
	background-color: lightyellow;
}

.mod_button{
	position: relative;
	background-color: lightgreen;
	width: 500px;
	height: 60px;
	font-size: 20px;
	border-radius: 10px;
	margin-right: 30%;
	margin-left: 30%;
	left: 20px;
}

#info-frame{
	background-color: lightgreen;
	display: inline-block;

}

#header2{
	padding-left: 40px; 
	padding-right: 40px;
}

#angel{
	position: relative;
	max-width: 60px;
	max-height: 60px;
	top: 10px;
}

/*
.color_red{
	background-color: rgb(255, 0, 0);
}

.color_orange{
	background-color: rgb(255, 127, 0);
}

.color_yellow{
	background-color: rgb(255, 255, 0);
}

.color_green{
	background-color: rgb(0, 255, 0);
}

.color_blue{
	background-color: rgb(0, 0, 255);
}

.color_violet{
	background-color: rgb(139, 0, 255);
}*/